In [76]:
! pip install yfinance
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

import math
import numpy as np
import statistics as stats

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.1.90)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.3.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)

In [77]:
Portfolio_tickers = ['AVGO', 'COST', 'FDS', 'FTNT', 'ORLY', 'REGN', 'TMO', 'TSLA', 'UNH']

In [78]:
Long_tickers = ['CPB', 'K']

In [79]:
Portfolio = yf.download(Portfolio_tickers, start='2021-05-03', end='2022-07-12')['Adj Close']
Portfolio

[*********************100%***********************]  9 of 9 completed

,AVGO,COST,FDS,FTNT,ORLY,REGN,TMO,TSLA,UNH
Date,,,,,,,,,
2021-05-03,430.409485,375.486542,337.009064,40.636002,554.960022,488.619995,465.684509,228.300003,396.614746
2021-05-04,425.054962,371.497284,340.496857,41.355999,559.880005,485.179993,463.592133,224.533340,401.930267
2021-05-05,424.376007,368.735443,331.580475,41.875999,560.090027,482.420013,466.073090,223.646667,403.063751
2021-05-06,428.917816,378.891815,333.068176,41.301998,561.219971,498.679993,468.434540,221.179993,405.477264
2021-05-07,432.742462,380.436005,332.073090,42.354000,562.320007,496.750000,466.750641,224.123337,408.095978
...,...,...,...,...,...,...,...,...,...
2022-07-05,472.339355,486.540375,394.234650,59.000000,647.510010,596.559998,544.491882,233.066666,502.111816
2022-07-06,478.596863,490.914917,400.250610,59.869999,657.750000,594.900024,555.450195,231.733337,512.099609
2022-07-07,494.394440,493.206818,400.250610,61.619999,661.619995,607.450012,553.172607,244.543335,511.195251
2022-07-08,494.543182,499.773621,400.031494,62.700001,657.880005,621.570007,553.122742,250.763336,515.418945
2022-07-11,478.844788,497.142883,402.282501,62.279999,655.299988,614.460022,557.438171,234.343338,513.749329

In [80]:
Long = yf.download(Long_tickers, start='2021-05-03', end='2022-07-12')['Adj Close']
CPB = Long[['CPB']]
K = Long[['K']]

[*********************100%***********************]  2 of 2 completed

In [81]:
Portfolio1 = pd.concat([Portfolio, CPB], axis=1)
Portfolio2 = pd.concat([Portfolio, K], axis=1)
Portfolio3 = pd.concat([Portfolio, Long], axis=1)
Portfolio3

,AVGO,COST,FDS,FTNT,ORLY,REGN,TMO,TSLA,UNH,CPB,K
Date,,,,,,,,,,,
2021-05-03,430.409485,375.486542,337.009064,40.636002,554.960022,488.619995,465.684509,228.300003,396.614746,46.084915,59.184647
2021-05-04,425.054962,371.497284,340.496857,41.355999,559.880005,485.179993,463.592133,224.533340,401.930267,45.942097,58.798801
2021-05-05,424.376007,368.735443,331.580475,41.875999,560.090027,482.420013,466.073090,223.646667,403.063751,46.513390,59.354042
2021-05-06,428.917816,378.891815,333.068176,41.301998,561.219971,498.679993,468.434540,221.179993,405.477264,47.436996,63.551266
2021-05-07,432.742462,380.436005,332.073090,42.354000,562.320007,496.750000,466.750641,224.123337,408.095978,47.179913,63.005440
...,...,...,...,...,...,...,...,...,...,...,...
2022-07-05,472.339355,486.540375,394.234650,59.000000,647.510010,596.559998,544.491882,233.066666,502.111816,47.511387,71.103302
2022-07-06,478.596863,490.914917,400.250610,59.869999,657.750000,594.900024,555.450195,231.733337,512.099609,47.987690,71.575554
2022-07-07,494.394440,493.206818,400.250610,61.619999,661.619995,607.450012,553.172607,244.543335,511.195251,48.196072,71.664101
2022-07-08,494.543182,499.773621,400.031494,62.700001,657.880005,621.570007,553.122742,250.763336,515.418945,48.205997,71.349266
2022-07-11,478.844788,497.142883,402.282501,62.279999,655.299988,614.460022,557.438171,234.343338,513.749329,48.364765,71.585396

In [105]:
from sklearn.preprocessing import MinMaxScaler 

training_data_len = math.ceil(len(Portfolio3)* 0.8)
temp = []
tickers = Portfolio3.columns.values

#data = Portfolio3.to_numpy().reshape(-1,11)
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(Portfolio3)
data = scaled_data.reshape(-1,11)
print(data.shape)

#for column in Portfolio3.columns:
#    scaler = MinMaxScaler(feature_range=(0,1))
#    scaled_data = scaler.fit_transform(Portfolio3[column].values.reshape(-1,1))
#    data.append(scaled_data[:, :])

#data = np.array(data)
#print(data.shape)

(300, 11)

In [109]:
train_data = scaled_data[0: training_data_len, :]

x_train = []
y_train = []

for i in range(60, len(train_data)):
    x_train.append(train_data[i-60:i, :])
    y_train.append(train_data[i, :])

x_train, y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], x_train.shape[2]))
print(train_data.shape)
print(x_train.shape)
print(y_train.shape)

(240, 11)
(180, 60, 11)
(180, 11)

In [113]:
test_data = scaled_data[training_data_len-60: , : ]
y_test = data[training_data_len:]
x_test = []

for i in range(60, len(test_data)):
  x_test.append(test_data[i-60:i, :])

x_test = np.array(x_test)
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], x_test.shape[2]))

print(test_data.shape)
print(x_test.shape)
print(y_test.shape)

(120, 11)
(60, 60, 11)
(60, 11)

In [114]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [122]:
model = keras.Sequential()
model.add(layers.LSTM(100, return_sequences=True, input_shape=(x_train.shape[1], 11)))
model.add(layers.LSTM(100, return_sequences=False))
model.add(layers.Dense(25))
model.add(layers.Dense(11))
model.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_26 (LSTM)              (None, 60, 100)           44800

 lstm_27 (LSTM)              (None, 100)               80400

 dense_26 (Dense)            (None, 25)                2525

 dense_27 (Dense)            (None, 11)                286

=================================================================
Total params: 128,011
Trainable params: 128,011
Non-trainable params: 0
_________________________________________________________________

In [123]:
# Compile
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(x_train, y_train, batch_size= 1, epochs=3)

Epoch 1/3
180/180 [==============================] - 8s 29ms/step - loss: 0.0312
Epoch 2/3
180/180 [==============================] - 5s 29ms/step - loss: 0.0107
Epoch 3/3
180/180 [==============================] - 5s 29ms/step - loss: 0.0101

In [124]:
predictions = model.predict(x_test)
predictions = scaler.inverse_transform(predictions)
print(predictions.shape)
rmse = np.sqrt(np.mean(predictions - y_test)**2)
rmse

2/2 [==============================] - 1s 35ms/step
(60, 11)

375.51725506765456

In [126]:
! pip install pyportfolioopt
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt.efficient_frontier import EfficientFrontier

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyportfolioopt
  Downloading pyportfolioopt-1.5.4-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 512 kB/s
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.8/dist-packages (from pyportfolioopt) (1.3.5)
Requirement already satisfied: cvxpy<2.0.0,>=1.1.10 in /usr/local/lib/python3.8/dist-packages (from pyportfolioopt) (1.2.2)
Requirement already satisfied: scipy<2.0,>=1.3 in /usr/local/lib/python3.8/dist-packages (from pyportfolioopt) (1.7.3)
Collecting numpy<2.0.0,>=1.22.4
  Downloading numpy-1.23.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.1 MB)
     |████████████████████████████████| 17.1 MB 23.8 MB/s
Requirement already satisfied: scs>=1.1.6 in /usr/local/lib/python3.8/dist-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (3.2.2)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.8/dist-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (2.0.10)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (0.6.2.post0)
Requirement already satisfied: qdldl in /usr/local/lib/python3.8/dist-packages (from osqp>=0.4.1->cvxpy<2.0.0,>=1.1.10->pyportfolioopt) (0.1.5.post2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19->pyportfolioopt) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19->pyportfolioopt) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->pyportfolioopt) (1.15.0)
  Downloading numpy-1.22.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 62.1 MB/s
Installing collected packages: numpy, pyportfolioopt
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
Successfully installed numpy-1.22.4 pyportfolioopt-1.5.4

In [ ]:
mu1 = expected_returns.capm_return(Port1)
Sigma1 = risk_models.CovarianceShrinkage(Port1).ledoit_wolf()

ef = EfficientFrontier(mu1, Sigma1)
ef.max_sharpe()
weights1 = ef.clean_weights()
weights1

OrderedDict([('ANTM', 0.1215),
             ('AVGO', 0.0637),
             ('COST', 0.1252),
             ('FDS', 0.0704),
             ('FTNT', 0.1849),
             ('ORLY', 0.04),
             ('REGN', 0.0817),
             ('TMO', 0.0477),
             ('TSLA', 0.0868),
             ('UNH', 0.1281),
             ('CPB', 0.05)])

In [ ]:
Portfolio1_mean = 0
Portfolio1_var = 0

for ticker in weights1.keys():
    Portfolio1_mean += weights1[ticker]*mu1[ticker]

for ticker1 in weights1.keys():
    for ticker2 in weights1.keys():
        Portfolio1_var += weights1[ticker1]*weights1[ticker2]*Sigma1[ticker1][ticker2]

Portfolio1_std = Portfolio1_var ** (1/2)

Portfolio1_sharpe = Portfolio1_mean/Portfolio1_std
Portfolio1_sharpe

1.1032639978653949

In [ ]:
mu2 = expected_returns.capm_return(Port2)
Sigma2 = risk_models.CovarianceShrinkage(Port2).ledoit_wolf()

ef = EfficientFrontier(mu2, Sigma2)
ef.max_sharpe()
weights2 = ef.clean_weights()
weights2

OrderedDict([('ANTM', 0.1215),
             ('AVGO', 0.0637),
             ('COST', 0.1252),
             ('FDS', 0.0704),
             ('FTNT', 0.1849),
             ('ORLY', 0.04),
             ('REGN', 0.0817),
             ('TMO', 0.0477),
             ('TSLA', 0.0868),
             ('UNH', 0.1281),
             ('K', 0.05)])

In [ ]:
Portfolio2_mean = 0
Portfolio2_var = 0

for ticker in weights2.keys():
    Portfolio2_mean += weights2[ticker]*mu2[ticker]

for ticker1 in weights2.keys():
    for ticker2 in weights2.keys():
        Portfolio2_var += weights2[ticker1]*weights2[ticker2]*Sigma2[ticker1][ticker2]

Portfolio2_std = Portfolio2_var ** (1/2)

Portfolio2_sharpe = Portfolio2_mean/Portfolio2_std
Portfolio2_sharpe

1.2138681657079045

In [127]:
mu3 = expected_returns.capm_return(Port3)
Sigma3 = risk_models.CovarianceShrinkage(Port3).ledoit_wolf()

ef = EfficientFrontier(mu3, Sigma3)
ef.max_sharpe()
weights3 = ef.clean_weights()
weights3

NameError: ignored

In [ ]:
Portfolio3_mean = 0
Portfolio3_var = 0

for ticker in weights3.keys():
    Portfolio3_mean += weights3[ticker]*mu3[ticker]

for ticker1 in weights3.keys():
    for ticker2 in weights3.keys():
        Portfolio3_var += weights3[ticker1]*weights3[ticker2]*Sigma3[ticker1][ticker2]

Portfolio3_std = Portfolio3_var ** (1/2)

Portfolio3_sharpe = Portfolio3_mean/Portfolio3_std
Portfolio3_sharpe

1.020457627464359